<div class="container">
  <div class="row">
    <h1>Stupid Coaching</h1>
    <h6>Ask your coach anything:</h6>
  </div>
  <form action="answer" data-turbo="false" method="get">
    <input class="col-lg-10 input" type="text" name="question" placeholder="Ask your question...">
    <input type="submit" value="Ask!" class="btn btn-primary btn-md">
  </form>
</div>
